{% extends 'base.html' %}
{% block body %}
	<div class="container">
	  <h2>Author list</h2>
	  <table class="table">
	    <thead>
	      <tr>
	        <th>Firstname</th>
	        <th>Lastname</th>
	        <th>Email</th>
	        <th>Books</th>
	      </tr>
	    </thead>
	    <tbody>
	    	{% for author in object_list %}
			    <tr>
			        <td>{{ author.first_name }}</td>
			        <td>{{ author.last_name }}</td>
			        <td>{{ author.email }}</td>
			        <td>{% url "book_list" author.id %}"</td>
			    </tr>
	      	{% endfor %}
	    </tbody>
	  </table>
	</div>
{% endblock %}